version: '3.8'

services:
  config-provider-postgres:
    image: postgres:latest
    container_name: config-provider-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: 'config_provider'
      POSTGRES_PASSWORD: 'config_provider'
      POSTGRES_DB: 'config_provider'
    ports:
      - "5433:5432"
    volumes:
      - ./.data:/var/lib/postgresql/data
